
/*Css para la primer seccion*/
#Seccion1{
    background-color: #7239b3; 
    background-image: linear-gradient(to right bottom, #4c158a, #ad65d6);
    padding: 6%;
    max-width: 100%;
    height: auto;
}

#C1R1{
    display: inline-grid; 
    margin-top: 3%;
}

.TituloSeccion1{
    color: white;
    text-align: center;
}

.imgSeccion1{
    height: auto;
    width: 100%;
}

.Icono{
    height: 128px;
    width: 128px;
    margin: auto;
    margin-top: 21px;
}

.TextoSeccion1{
    color: white;
}

#PrimerBotonSeccion1{
    background-color: rgb(255, 255, 255);
    color: rgb(114, 57, 179);
    border: none;
    box-shadow: none;
    margin: 0 auto;
}

#SegundoBotonSeccion1{
    background: rgba(0, 0, 0, .07);
    border: none;
    box-shadow: none;
    margin: 0 auto;
    margin-top: 10px;
}
 
#TercerBotonSeccion1{
    background: rgba(0, 0, 0, .07);
    border: none;
    box-shadow: none;
    margin: 0 auto;
    margin-top: 10px;
}

#Seccion2{
    background-color: #3689e6;
    background-image: linear-gradient(180deg, rgba(13, 82, 191, .25), rgba(0, 115, 103, .33)), linear-gradient(180deg, transparent, rgba(0, 0, 0, .5)), url(../images/wallpaper.jpg);
    max-width: 100%;
    background-position: 50%;
    background-size: cover;
    color: #fff;
    position: relative;
    text-shadow: 0 0 6px #000;
    transition: height .25s ease-in-out;
    padding: 6%;
}

/*Seccion 2*/

#Container1Seccion2{
    text-align: center;
    padding: 2%;
}

#btnGrid{
    border: none;
    color: white;
    margin: 0 auto;
    margin-left: -27%;
}

#grid{
    padding: 20px;
}

/*Seccion 3*/

#Seccion3{
    background-color: #fafafa; ;
    padding: 6%;
    max-width: 100%;
    height: auto;
}


/*Seccion 4*/

#Seccion4{
    text-align: center;
    padding: 6%;
}

#btnAzul{
    color: #3689e6;
    border: none;
}

/*Seccion 5*/
#Seccion5{
    background-color: rgb(39, 52, 69);
    padding: 6%;
    text-align: center;
    color: white;
}

/*Seccion 6*/
#Seccion6{
    background-color: #fafafa;
    padding: 6%;
}

#textoSec6{
    margin-top:10%;
}